body {
	font-family: "Poppins";
    font-weight: 400;
    height: 100%;
	// font-size: 1.6rem;
	line-height: 1.7;
	color: $color-black;
	box-sizing: border-box;
overflow-x: hidden;
background-color: #f8f8f8  !important;

}
@font-face { font-family: roboto-regular; 
    src: url('../font/Roboto-Regular.ttf'); } 
